@CHARSET "ISO-8859-1";
body {
	background-image: url(https://st.depositphotos.com/3470617/4920/v/950/depositphotos_49203401-stock-illustration-pizza-background.jpg);
	font-family: serif;
	}
img.begear {
	
	width: auto;
	height: auto;
	 display: block;
	margin:0 auto;
	
}
table {
	border: none;
	width: 60%;
  border-collapse: separate;
  border-spacing: 5px;
}

tr {
	background-color: orange;
	text-align: center;
}

tr:hover {
    background-color: yellow;
}

